#sideBar {
    width: 240px;
    height: 100%;
    background-color: #19212b;
    float: left;
}
.menuItem {
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    height: 30px;
    margin: 2px 0 2px 0;
}
.menuItem a {
    display: block;
    color: rgba(255,255,255,.7);
    padding: 5px;
    text-decoration: none;
    margin: 0 0 0 20px;    
}
.menuItemSelected a {
    color: #4fc3f7;
}
.menuItemSelected a :hover {
    color: #4fc3f7;
}