<div id="sideBar">
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link"  [routerLink]="['/stock']">Stock</a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link"  [routerLink]="['/notifications']">Notifications</a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link"  [routerLink]="['/customers_pred']">Customers pred</a>
    </div>
    <div class="menuItem" routerLinkActive="menuItemSelected">
        <a class="link"  [routerLink]="['/popular_dises']">Popular dishes</a>
    </div>
</div>
    
