<div class='signUpCont'>
    <h2 id='SignUpHeader'>Hello, please fill <span>ALL</span> fields for complete signup:</h2>
    <form #form (ngSubmit)="signUp()" [ngFormOptions]="{ updateOn: 'change' }">
        <div class="form-group">
            <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name='email' #email="ngModel" placeholder="* Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                email required in format : example@example.ending
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="pass" required [(ngModel)]="model.pass" name='pass' #pass="ngModel" placeholder="* Password" pattern="(?=.*\d{1,})(?=.*[a-z]{1,})(?=.*[A-Z]{0,}).{6,12}">
            <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
                pass required in length of 6-12 charcters and or numbers
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name='name' #name="ngModel" placeholder="* Name" pattern="^[a-zA-Z]{3,}$">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                name required in length of atleast 3 charcters (no numbers allowed)
            </div>
        </div>
        <button type="button" class="btn btn-secondary">
            Login
        </button>
        <button type="submit" class="btn btn-primary btn-success" [disabled]="!pass.valid || !name.valid || !email.valid">
            Signup
        </button>
    </form>
</div>

   