.cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.topBar {
    background-color: #039be5;
    width: auto;
    overflow: hidden;
    height: 75px;

}
.logo {
    background: #404854;
    height: 75px;
    border-bottom: #999 1px solid;
    position: relative;
    float: left;
    width: 240px;
}
.logoPic{ 
    background: url("./assets/logo.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 20%;
    left: 50%;
    display: block;
    width: 40%;
    height: 60%;
}
.restsCont {
    padding: 10px 10px 0 0;
    width: 10%;
    height: 100;
    float: right;
}
.restsCont label {
    display: block;
}
#rests {
    appearance: none;
}
.hidden {
    display: none !important;
}
.menuButton {
    background: url("./assets/menu.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: block;
    width: 10%;
    height: 25%;
    border: none;
}

