<div class="cont">
  <div class="topBar">
    <div class="tabs">
      <button class="menuButton" (click)="displayNav()" *ngIf="loggedIn"></button>
      <button class="notfButton" (click)="displayNotf()" *ngIf="loggedIn"></button>
      <a [routerLink]="['/home']" class="logoPic"></a>
    </div>
    <div class="restsCont">
      <label for="rests">restaurant</label>
      <select id="rests" name="rests">
        <option *ngFor="let rest of this.rest">
          {{rest}}
        </option>
      </select>
    </div>
  </div>

  <app-nav id="nav" *ngIf="loggedIn" ng-hide="this.fb.nav"></app-nav>
  <app-notifications id="notfi" *ngIf="loggedIn" ng-hide="this.fb.notfi"></app-notifications>
  <app-content id="area"></app-content>
</div>
