table {
    width: 100%;
    height: auto;
}

.tableCont {
    margin: 0 auto;
    width: 90%;
}

th, td{
    text-align: center;
}

td:first-child {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}