.topBar {
    background-color: #4A4A4A;
    height: 35px;
    overflow: hidden;
    clear: right;
    align-content: center;
}

.restsCont {
    padding: 2.5px 2.5px 0 0;
    width: 20vw;
    height: 100;
    float: right;
    color: #fff;
}

.restsCont label {
    font-size: 1.3vw;
    display: inline-block;
}

#rests {
    font-size: 1.3vw;
    color: #fff;
    border: none;
    display: inline-block;
    background-color: transparent;
}

.logoPic{ 
    background: url("../assets/logo.png") no-repeat;
    background-size: contain;
    background-size: 100%;
    display: inline-block;
    top: 2.5px;
    width: 60px;
    height: 30px;
    margin: 2.5px auto;    
}

.hidden {
    display: none !important;
}

.tabs {
    background: #4A4A4A;
    height: 35px;
    border-bottom: #999 1px solid;
    position: relative;
    float: left;
    width: 300px;
}

.menuButton {
    background: url("../assets/menu.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    left: 5%;
    display: block;
    width: 20%;
    height: 60%;
    border: none;
}

.notfButton {
    background: url("../assets/notification.png") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    left: 15%;
    display: block;
    width: 20%;
    height: 60%;
    border: none;
}

#nav {
    min-height: 100vh;
    width: 300px;
    float: left;
    display: none;
    position: absolute;
    z-index: 10;
}

#notfi {
    min-height: 100vh;
    width: 300px;
    float: left;
    display: none;
    position: absolute;
    z-index: 10;
}
